@import 'variables';
@import 'mediaquery';
@import 'mixins';

#main-page {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#date-time {
    align-self: flex-end;
    margin: 20px;
    
    opacity: 50%;

    #time {
        font-size: 1.5rem;
    }
}

#main-content {
    height: 90vh;
    width: 85%;
    @include flex (column, center, center);
    text-transform: capitalize;
    

    li {
        text-align: left;
    }

}

#quote {
    margin: 20px 0 40px 0;

    &:focus {
        opacity: 80%;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
    }

    &:hover {
        opacity: 80%

    }
}

#quote-input {
    display: none;
    font-size: 2rem;
    @extend #quote;
}

.wrapper {
    width: 80vw;
    @include flex (row, center, center);

    .edit {
        display: none;
        position: relative;
        padding-left: 10px;
    }
}

.wrapper:hover .edit{
    display: flex;
}

.icon {
    width: 40px;
    background-color: none;
    cursor: pointer;
    opacity: 80%;

    &:hover {
        opacity: 100%; 
    }
}

#focus {
    @include flex (column, center, center)
}


#today-focus {
    display: none;

    &:focus {
        opacity: 80%;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
    }

    &:hover {
        opacity: 70%
    }
}

#todo-wrapper {
    align-self: flex-end;
    margin: 20px;

    .icon {
        width: 60px;
    }
}

#todo {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.954);
    // width: 30vw; // added to media query, otherwise media query will not work
    
    h3 {
        opacity: 50%;
        margin-bottom: 30px;
    }

    ul {
        @include flex (column, flex-start, center );
        height: 60%;
        width: 100%;
        overflow: auto;
        -ms-overflow-style: none; 
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    li {
        @include flex (row, space-between, flex-start);
        width: 100%;
    }

    label {
        width: 80%;
        text-align: left;
        font-size: 1.2rem;
        margin-left: 20px;
    }

    a {
        padding-left: 10px;
        color: $accent;
        opacity: 50%;

        &:hover {
            opacity: 100%;
        }
    }

    #add-item {
        margin-top: 30px;
    }
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $accent;
    opacity: 50%;
    width: 2px;
    height: 2px;
    margin-top: 5px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type=checkbox]:checked {
    border: none;
    
    
}

input[type=checkbox]:checked:before {
    content: '✔';
    font-size: 1rem;
    color: $accent;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    text-decoration-color: $accent;
}

#exit-todo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}